/// Colors
/// ------
///
/// @link http://0to255.com/
/// Need help w/ choosing your colors? Try this site out:
///
/// @link http://paletton.com/
/// There is also this cool online tool to help you generating custom palettes.
///
/// @link http://paletton.com/#uid=23V0Q0k00rD2OpC05mp0ohw1xc+
/// Light Gray palette link:
///

/// - purple
/// @type String
/// @group colors_peace
$purple: #800080;
/// - blue
/// @type String
/// @group colors_peace
$blue: #00f;
/// - azure
/// @type String
/// @group colors_peace
$azure: #007fff;
/// - green
/// @type String
/// @group colors_peace
$green: #008000;
/// - yellow
/// @type String
/// @group colors_peace
$yellow: #ff0;
/// - orange
/// @type String
/// @group colors_peace
$orange: #ffa500;
/// - red
/// @type String
/// @group colors_peace
$red: #d41118;

/// - black
/// @type String
/// @group colors_bw
$black:             #0a0a0a;
/// - dirt black
/// @type String
/// @group colors_bw
$dirt_black:        #222;
/// - white
/// @type String
/// @group colors_bw
$white:             #fff;
/// - dirt white
/// @type String
/// @group colors_bw
$dirt_white:        #ededed;

/// Gray and variants
/// @type String
$light_gray:        #ddd;
$gray:              #cbcacb;
$medium_gray:       #979797;
$dark_gray:         #5c5c5c;
/// Alfa transparent Gray
/// @type String
$alfa_white:        rgba( $white, .7 );
$alfa_dirt_white:   rgba( $dirt_white, .3 );
$alfa_light_gray:   rgba( $light_gray, .7 );
$alfa_medium_gray:  rgba( $medium_gray, .5 );
$alfa_dark_gray:    rgba( $dark_gray, .3 );
$alfa_black:        rgba( $dirt-black, 0.3 );

///
/// Blue variants
/// @type String
///
$lighter_blue:      lighten( $azure, 30% );
$light_blue:        lighten( $azure, 20% );
$dark_blue:         darken( $azure, 20% );
$darker_blue:       darken( $azure, 30% );
/// Alfa transparent Blue
/// @type String
$alfa_light_blue:   rgba( $light_blue, .75 );
$alfa_dark_blue:    rgba( $dark_blue, .65 );

/// Semantic color assignments:
/// we set functional variables based on component use
///
/// General elements
/// @type String
///
$text_color:        $black;
$titles_color:      $black;
$date_color:        '';
$footer_text_color: '';

/// Links
/// @type String
$link_color:        $red;
$link_hover:        adjust-hue( darken( $link_color, 9% ), 3% );
$link_focus:        darken( desaturate( adjust-hue( $link_color, 2% ), 23% ), 19% );

/// TOC Commons
/// @type String
$toc_color:     $dirt_black;
$toc_hover:     $dirt_black;

/// Menu Footer
$footer_nav_ul_bg:     '';
$footer_nav_bg:        '';
$footer_nav_color:     $link_color;
$footer_nav_bg_hover:  '';
$footer_nav_hover:     $link_hover;

/// UI and UX elements
$background_color:     $white;

/// Containers
$border_color:             $medium_gray;
$disabled:                 $gray;
