/**
 * Book custom styles
 */

/* Add overrides to default .citation styles */
.citation {
	font-weight: 600;
	font-size: 1em;
	margin-left: 3%;
	margin-right: 7%;
	padding-left: 5%;
	padding-top: .5em;

	p {
		color: $dark_gray;
		text-indent: 0;
		line-height: 1;
		margin-bottom: .5em;
	}
}

/* Add overrides to default .condensed styles */
.condensed {

	margin-top: 3em;

    p {
        font-family: $small_font;
        font-size: .83em;
        font-weight: 300;
        text-indent: 0;
        line-height: 1.6em;
        letter-spacing: -.1pt;
    }
}
